<link rel="stylesheet" href="~/Content/ProcessSteps.css"><div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                Categories
            </h4>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="fa fa-home">
                    </span> Home Service
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="fa fa-thermometer-half"  style="color: red"></span><a href=""> Air conditioning and Heating</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-female" style="color:indigo"></span><a href=""> Baby Seater</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-wrench" style="color: brown"></span><a href=""> Carpenter</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-trash-o" style="color:midnightblue"></span><a href=""> Cleaner</a>
                </li>

                <li class="list-group-item">
                    <span class="fa fa-scissors" style="color: gray"></span><a href=""> Designer</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-flash" style="color:lightblue"></span><a href=""> Electician</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-truck" style="color: darkslategray"></span><a href=""> Loader</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-paint-brush" style="color: olive"></span><a href=""> Painter</a>
                </li>


                <li class="list-group-item">
                    <span class="fa fa-bathtub" style="color: blue"></span><a href=""> Plumber</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-home" style="color: saddlebrown"></span><a href=""> Roofer</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-tv" style="color: steelblue"></span><a href=""> TV services</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="fa fa-car">
                    </span> Automotives
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="fa fa-unlock" style="color:lightseagreen"></span><a href=""> Alarm systems</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-music" style="color:mediumvioletred"></span><a href=""> Car music</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-wrench" style="color:lightcoral"></span><a href=""> Car repair</a>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-oil" style="color: orangered"></span><a href=""> Oli change</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <span class="glyphicon glyphicon-briefcase">
                    </span> Business
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="fa fa-line-chart" style="color:mediumseagreen"></span><a href=""> Accountant</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-balance-scale" style="color:mediumvioletred"></span><a href=""> Lawyer</a>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-certificate" style="color:lightcoral"></span><a href=""> Notary</a>
                </li>
                <li class="list-group-item">
                    <span class="fa fa-asl-interpreting" style="color:midnightblue"></span><a href=""> Translator</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <span class="fa fa-desktop">
                    </span> Computers and Electronics
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><span class="fa fa-wrench" style="color:slateblue"></span><a href="#"> Computer repair</a></li>
                <li class="list-group-item"><span class="fa fa-laptop" style="color:darkslategrey"></span><a href=""> Laptop repair</a></li>

                <li class="list-group-item"><span class="fa fa-mobile-phone" style="color:firebrick"></span><a href=""> Mobile devices repair</a></li>
                <li class="list-group-item"><span class="fa fa-signal" style="color:chocolate"></span><a href=""> Wirless network repair</a></li>
            </ul>
        </div>
    </div>
</div>

