<!-- Button trigger modal -->
<!--<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#welcome_modal">
        Launch Welcome modal
    </button>
</div> -->
<!-- Modal -->
<div class="modal fade centered" id="welcome_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="images/logo.png" class="img-responsive">
            </div>
            <div class="modal-body">
                <h2 class="text-center"> What are you looking for?</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <p class="text-center">I need to <button type="button" class="btn btn-primary">hire</button> professional worker</p>
                        </div>
                    </div>

                    <div class="col-md-2 col-md-offset-1 align-self-center">
                        OR
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <p class="text-center">I'm looking for a <button type="button" class="btn btn-primary">job</button>  or an order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // $('#welcome_modal').modal('show');
    });
</script>
